<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plaintext %>
    <%= form.text_area :plaintext %>
  </div>

  <div class="field">
    <%= form.label :receiver_name %>
    <%= form.collection_select :receiver_name, @users, :username, :username %>
  </div>

  <div class="field">
    <%= form.label :sender_name %>
    <%= form.hidden_field :sender_name, value: current_user.username %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
